* {
  box-sizing: border-box;
}

#jeux {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
}

h1,
h3 {
  text-align: center;
}

table {
  text-align: center;
}

td {
  color: #ffc107;
  height: 45px;
  min-width: 45px;
}

.joueur1,
.joueur2 {
  position: absolute;
  top: 80%;
  text-align: center;
}
.joueur1 {
  left: 5%;
}
.joueur2 {
  right: 5%;
}
.check1,
.check2 {
  margin-top: 1rem;
}
.hidden {
  display: none;
}

.replay {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rouge {
  background-color: #d9534f;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  margin: auto;
}

.bleu {
  background-color: #0275d8;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  margin: auto;
}
